version: "3.9"
services:
  web:
    build:
      context: .
      args:
        RAILS_ENV: development
    command: sh -c "bin/rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      # Bind to dynamic port that is set in .env file
      - "${DOCKER_WEB_PORT}:3000"
    environment:
      - ENABLE_BOOTSNAP=false
    tty: true
    stdin_open: true
